# Python Files
**/__pycache__
*.py[cod]
/.vscode
**/*.egg-info

# Notebooks
scratch

# Experiments and Scripts
exp
scripts/_*

# Data and Outputs
*.csv
*.pt
*.png

# Huggingface Cache and Data
huggingface
.DS_Store
