huggingface

# Python Files
**/__pycache__
*.py[cod]
/.vscode
**/*.egg-info

# Notebooks
scratch

_cache_datahairessharedtempdatasetsartartnouveaulmdb
_cache_datahairessharedtempdatasetsartbaroquelmdb
_cache_datahairessharedtempdatasetsartrealismlmdb

exp/*pt